<!DOCTYPE html>
<html ng-app="Connect4">
    <head>
        <script src="angular.min.js"></script>
        <script src="controller.js"></script>
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>

    <body ng-controller="Connect4Controller">
        <table class="" border="1">
          <tr ng-repeat="rowArray in gameBoard">
            <td ng-repeat="piece in rowArray">
              {{piece.selected}}
            </td>
          </tr>
        </table>
    </body>
</html>
