body {
    font-family: 'Sacramento', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 3em;
}

table {
    border: 1px;
    border-color: #aba;
    color: #fff;  
}

td {
    background-color: #000;
    padding: .5em;
    width: 1em;
    height: 1em;
    text-align: center;
}
