<div class="container">
  <div class="row">

      <h3 ng-show="player1.isWinner"> {{player1.name}} Wins!</h3>
      <h3 ng-show="player2.isWinner"> {{player2.name}} Wins!</h3>

      <div class="col-xs-4 col-xs-offset-4" ng-hide="namesNeeded">

        <table align="center" class="table" border="1">
          <tr ng-repeat="rowArray in gameBoard.rows">
            <td valign="center" ng-repeat="piece in rowArray" ng-click="addPiece(piece)">
              {{piece.piece}}
            </td>
          </tr>
        </table>

      </div> <!-- ./ col-xs-4 -->

    </div>
  </div>
</div>
