<div class="container">
  <div class="row">

      <div class="col-xs-4 col-xs-offset-4" ng-hide="namesNeeded">

        <table align="center" class="table" border="1">
          <tr ng-repeat="rowArray in gameBoard.rows">
            <td valign="center" ng-repeat="piece in rowArray" ng-disabled="player1.isWinner || player2.isWinner" ng-click="addPiece(piece)">
              {{piece.piece}}
            </td>
          </tr>
        </table>
        <h3 class="typing" ng-show="player1.isWinner"> {{player1.name}} Wins!</h3>
        <h3 class="typing" ng-show="player2.isWinner"> {{player2.name}} Wins!</h3>
        <button type="submit" class="btn btn-success" ng-click="reset()" ng-show="player1.isWinner || player2.isWinner"> Play again! </button>
      </div> <!-- ./ col-xs-4 -->
    </div>
  </div>
</div>
