<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">

      <h1 align="center">Tic Tac Toe</h1>

      <form>

        <div class="form-group">

          <label for="player1NameInput"> Player 1 Name </label>
          <input type="text" id="player1NameInput" class="form-control" placeholder="Name Here...">

        </div>

        <div class="form-group">

          <label for="player2NameInput"> Player 2 Name </label>
          <input type="text" id="player2NameInput" class = "form-control" placeholder="Name Here...">

        </div>

        <btn class="btn btn-success"> Play! </btn>

      </form>

    </div>
  </div>
</div>
